<modal on-scroll="updateVideoPosition()" on-scroll-complete="updateVideoPosition()">
    <div class="calling-container" ng-if="isCalling && !callInProgress">
      <p>Calling to <span class="balanced">{{ contactName }}</span>...</p>

      <div class="ui button red" ng-click="ignore()">
        Nevermind
      </div>
    </div>

    <div class="calling-container" ng-if="!isCalling && !callInProgress">
      <p><span class="balanced">{{ contactName }}</span> is calling you</p>

      <div class="ui button primary" ng-click="answer()">
        Answer
      </div>

      <div class="ui button red" ng-click="ignore()">
        Ignore
      </div>
    </div>

    <div class="calling-container" ng-if="callInProgress">
      <p>
        Call in progress...
      </p>

      <div class="ui button red" ng-click="end()">
        End
      </div>
    </div>

    <video-view></video-view>

  </modal>